*.o
.DS_Store
Worksheet.worksheet
nagelfar/header
nagelfar/out
nagelfar/nagelfarize
map/map-0.txt
map/map-180.txt
map/residuals-0.dat
map/residuals-180.dat
map/residuals.aux
map/residuals.log
map/residuals.out
map/residuals.pdf
map/residuals.synctex.gz
.DS_Store
tcs/etc/.DS_Store
nagelfar/out
pointing/fitmodel
pointing/residuals.synctex.gz
pointing/residuals.pdf
pointing/residuals.log
pointing/residuals.dat
pointing/residuals-180.dat
pointing/residuals-0.dat
tcs/etc/tcs/version.json
sandbox/
.vscode/settings.json
